<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
    <div class="container"
         ng-controller="NarrowItDownController as narrow">
	    <h1>Narrow Down Your Chinese Menu Choice</h1>

	    <div class="form-group">
            <input ng-model="narrow.searchTerm" 
                   type="text" 
                   placeholder="search term" 
                   class="form-control">
        </div>
        <div class="form-group narrow-button">
	        <button ng-click="narrow.narrowItDown(narrow.searchTerm)"
                    class="btn btn-primary">Narrow It Down For Me!
            </button>
        </div>
        <div class="message">{{ narrow.message }}</div>

        <!-- found-items should be implemented as a component  -->
        <found-items found="narrow.found" 
                     on-remove="narrow.removeItem(index)">
        </found-items>
    </div>
</body>
</html>